[mysqld]
bind-address = 0.0.0.0  # Tillåt externa anslutningar
max_connections = 10000  # Öka maximalt antal anslutningar
max_connect_errors = 10000  # Öka antal tillåtna anslutningsfel
character-set-server = utf8mb4  # Standard teckenkodning
collation-server = utf8mb4_general_ci

[client]
default-character-set = utf8mb4
