[mysqld]
max_connections = 8000  # Öka maximalt antal anslutningar
max_connect_errors = 1000000  # Öka antal tillåtna anslutningsfel
wait_timeout = 600
interactive_timeout = 600
connect_timeout = 30
wait_timeout = 1200
interactive_timeout = 1200
max_error_count = 1000